.color{
    color: #6FFFB9;
    color: #28DABB;
    color: #00B4B2;
    color: #008F9E;
    color: #276A7E;
    color: #2F4858;
}
::-webkit-scrollbar {
    width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #b9b9b9;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #00ca87;
    }
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}

header{
    /* padding: 20px 0px; */
    background-image: url(/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 nav{
    position: relative;
    min-height: 100vh;
    background-color: #6fffb9;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px;
}
nav a:hover{
    border-radius: 3px;
    color: #0c0c0c;
    background-color: #00592e;
}
.left-nav{
    position: relative;
    margin: auto;
    align-items: center;
}
.left-nav-logo{
    margin: auto;
}
.left-nav-logo a span{
    margin: 10px;
    font-size: 7.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.docs-logo{
    background-color: #000000;
    color: #fff7ee;
}
#hamburger{
    display: none;
}
.left-nav a:hover{
    text-decoration: none;
    background-color: #00000000;
}
.right-nav{
    max-width: 50%;
    padding: 20px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    color: #fff7ee;
}
.right-nav a{
    padding: 5px;
    font-size: 24px;
    margin: 0px 20px;
    color: white;
}
.right-nav a:hover{
    color: #191919;
    background-color:#6fffb9;
}
.right-nav-links{
    /* width: 100%; */
    /* padding: 0px 20px; */
    display: flex;
    justify-content: space-around;
}
.header-flex{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex:auto;
    align-items: center;
    font-size: 27px;
}
.header-flex h1{
    font-family: 'Domine', serif;
    font-size: 70px;
    margin-bottom: 0%;
    color:#6fffb9;
}

main{
    padding: 50px;
    margin: auto;
    /* width: 60%; */
    text-align: center;
}
.docs{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10%;
}
.docs img{
    height: 350px;
    margin-right:50px;
}
.course{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
}
.course img{
    height: 350px;
    margin-right:50px;
}
.docs a,.course a{
    margin: 5px;  
    background-color: #28DABB;
    padding: 5px;
    font-size: 20px;
    border-radius: 4px;
}
footer{
    padding: 15px;
    padding-top: 50px;
    line-height: 200%;
    color: #fffff0;
    margin: auto;
    padding:30px 20%;
    background-color: #1d1d1d;
}
.contact{
    text-align: center;
    color: #fffff0;
}
.contact-box{
    max-width: 720px;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
    background-color: #000000;
    /* background-image: linear-gradient(135deg, #69ff97 10%, #00e4ff 100%); */
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 0px 30px #69ff9682; */
}
.contact-box h2{
    font-size: 44px;
    line-height: 150%;
}
.contact h1{
    color: aquamarine;
}
.cont-left{
padding: 10px;
}
.cont-left h2{
    color: #6fffb9;
    text-decoration: underline;
}
.cont-right{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.cont-right input {
font-family: 'Poppins', sans-serif;
padding: 7px;
height: 30px;
outline: 0px;
border: 0px solid;
color: #5dffc9;
border-radius: 0px 5px;
font-size: 20px;
background-color: #a3a3a36b;
border-bottom: 1px solid #0c0c0c;
}
.cont-right input:focus {
background-color: #2828286b;
border-bottom: 1px solid #6f6f6f;
}
.cont-right textarea {
/* resize: none; */
outline: 0px;
border: 0px;
padding: 10px;
border-radius: 15px;
font-family: 'Poppins', sans-serif;
color: #5dffc9;
background-color: #a3a3a36b;
overflow: auto;
}
.cont-right textarea:focus {
    background-color: #2828286b;
    border-bottom: 1px solid #6f6f6f;
    }
.cont-right textarea::-webkit-scrollbar {
width: 5px;
}
.cont-right textarea::-webkit-scrollbar-track {
background: #f1f1f100;
}
.cont-right textarea::-webkit-scrollbar-thumb {
background: #7ff2ff;
border-radius: 5px;
}
.cont-right textarea::-webkit-scrollbar-thumb:hover {
background: #005761;
}

.cont-right button {
margin-top: 12px;
font-size: 20px;
padding: 4px;
outline: 0px;
border: 0px;
color: #242424;
border-radius: 4px;
background-color: #6fffb9;
cursor: pointer;
}
.cpr{
    padding: 20px;
    text-align: center;
    color: #707070;
    background-color: #191919;
}
.cpr p:nth-child(1){
    font-size: 18px;
}

/*/////////////////////////////*/
@media screen and (min-width:1526px) {
    .contact-box{
        max-width: 900px;
    }
}
@media screen and (max-width:1525px) {
    .left-nav-logo img{
        width: 100%;
    }
    .right-nav a{
        font-size:100%;
    }
    .right-nav h1{
        font-size: 50px;
    }
    .cont-right{
        width: 80%;
    }
}

@media screen and (max-width:1000px) {
    p{
        font-size: 18px;
    }
    nav{
        display: block;
    }
    .left-nav{
        display: block;
        text-align: center;
    }
    .left-nav-logo {
        padding: 20px;
        text-align: left;
        text-align: center;
    }
    .left-nav-logo a span {
        margin: 0;
        font-size: 70px;
    }
    .right-nav{
       max-width: 100%;
       padding: 0px;
       padding-top: 5px;
    }
    .right-nav a{
       text-align: center;
    }
    .docs{
        flex-direction: column;
    }
    .docs img{
        height: 50%;
        max-height:140px ;
    }
    .course{
        flex-direction: column-reverse;
    }
    .course img{
        height: 50%;
        max-height:140px ;
    }
    footer{
        padding: 0px;
        padding-top: 20px;
    }
    .contact-box{
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }
    .cont-right input{
        width: 400px;
        max-width: 500px;
    }
    .about {
        padding: 20px;
    }
}

/***********************************************/


@media screen and (max-width:565px) {
    body p, body a{
        font-size: medium !important;
    }
    h1{
    font-size: 35px;
    }
    h2{
        
    }
    nav{
        height: 100%;
    }
    #hamburger{
        display: block;
        cursor: pointer;
    }
    .left-nav-logo {
        padding: 20px;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .left-nav-logo a span {
        margin: 0;
        font-size: 30px;
    }
    
    .right-nav-links{
        display: none;
        width: 100%;
        position: absolute;
        margin: auto;
        padding: 0%;
        background-color: #8484842c;
        backdrop-filter: blur(4px);
        flex-direction: column;
        align-items: center;
    }
    .right-nav-links a{
        padding: 2px 80px;
    }
    .right-nav-links span{
        margin:5px 0px ;
    }
    .right-nav .header-flex h1{
        font-size: 35px;
    }
    main {
        height: 100%;
    }
    footer{
        padding-top: 50px;
    }
    .contact-box{
        padding: 0%;
        width: 80%;
        padding-top: 15px;
    }
    .cont-left h2{
        font-size: 30px;
    }
    .cont-right{
        line-height: normal !important;
        padding: 10px;
        margin: 0;
        text-align: left;
    }
    .cont-right input{
        width: 70%;
        height: 20px;
    }
    .cont-right textarea{
        max-width: 300px;
        width: 80%;
    }
    .about{
        padding: 20px;
    }
    .about p{
        font-size: 12px !important;
        line-height: normal;
    }
    .cpr p{
        font-size: 12px !important;
    }
}

